img {
    border-radius: 15px;
    height: 100%;
    width: 100%;
}

h1 {
    font-family: Helvetica, ;
}

p {
    color: rgb(149, 149, 149);
    font-size: 10px;
}

#p1 {
    color: purple;
    font-weight: bolder;
    font-size: 15px;
}


li {
    font-size: 14px;

}

section {
    padding: 7px;
    border-radius: 10px;
    background-color: lightpink;
    margin-bottom: 7px;
}


h2 {
    color: rgb(101, 56, 56);
}

#li1 {
    color: rgb(149, 149, 149);
}

#li2 {
    color: rgb(149, 149, 149);
}

#li3 {
    color: rgb(149, 149, 149);
}

#li4 {
    color: rgb(149, 149, 149);
}

#li5 {
    color: rgb(149, 149, 149);
    padding-bottom: 10px;
}

#h2 {
    border-top: 10px;
    border-top-color: black;
    color: rgb(101, 56, 56);
}