.parent {
    display: flex;
    width: 300px;
    height: 300px;
    border: black solid ;
    gap: 5px;
}

.child {
    height: 50px;
    width: 50px;
    border: rgb(251, 0, 0) solid ;
    background-color: red;
    color: white;
    font-size: 30px;
    text-align: center;
}


.c1 {
    align-self: start;
}

.c2 {
    align-self: center;
}

.c3{
    align-self: flex-end;
}

.c4 {
    align-self: center;
}