.parent {
    display: flex;
    width: 300px;
    height: 300px;
    border: black solid ;
    gap: 5px;
}

.child {
    height: 50px;
    width: 50px;
    border: rgb(251, 0, 0) solid ;
    background-color: red;
    color: white;
    font-size: 30px;
    text-align: center;
}

.c2 {
    order: -2;
}

.c4 {
    order: -1
}

.c6 {
    order: -1;
}

.c3 {
    order: 3;
}