

div {
    display: flex;
    width: 500px;
}

.child {
    width: 250px;
}

.c1 {
    flex-shrink: 1
}

.c2 {
    flex-shrink: 0
}

.c3 {
    flex-shrink: 2
}
/* flex-shrink აკონტროლებს იმას თუ ეკრანის შემცირებისას რომელი ელემენტი რამდენით შემცირდება flex-shrink: 2 შემცირდება ყველაზე
მეტად ხოლო flex-shrink: 0 კი საერთოდ არ შემცირდება და იმ უთის გარეთ გავა რომლის შიგნითაც იყო ჩასმული მაგრამ არანაირად არ 
შემცირდება */